.selectOponent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}
.oponent {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}